.appointment-highlight {

    margin: 40px 0;

    .small-container {
        display: flex;
        flex-wrap: wrap;
        
        @media screen and (min-width: 860px) {
            padding-right: 15px;
        }

        @media screen and (min-width: 1238px) {
            padding-right: 0;
        }
    }

    &__content {
        flex: 2;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @media screen and (min-width:860px) {
            text-align: left;
        }

        h2 {
            font-size: 38px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 15px;
        }

        p {
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 30px;
        }

        a {
            width: fit-content;
            margin: 0 auto;

            @media  screen and (min-widtH: 860px) {
                margin: 0 auto 0 0;
            }
        }
    }

    &__image {
        flex: 1;
        display: none;

        @media screen and (min-width: 860px) {
            display: block;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}