.blog-articles {
    display: flex;
    flex-wrap: wrap;

    > div, a {
        widtH: calc(33.33% - 24px);
        margin-right: 36px;
        margin-bottom: 36px;
        text-decoration: none;

        @media screen and (max-width: 768px) {
            widtH: 100%;
            margin-right: 0;
        }

        &:nth-of-type(3n) {
            margin-right: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        h3 {
            color: #000;
            text-decoration: none;
        }
        
    }

    &__image {
        height: 100%;
        width: 100%;
        max-height: 300px;
        overflow: hidden;
    }
}