.footer {
    .standard-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 15px;
    }

    &__column {
        width: 100%;

        @media screen and (min-width: 860px) {
            widtH: 33.33%
        }

        ul {
            list-style: none;
            padding: 0;
            
            li {
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        text-decoration: underline;
                        @media screen and (min-widtH: 860px) {
                        color: var(--theme-color); 
                        }
                    }
                }
            }
        }
    }

    h2 {
        color: #499dc1;
    }

    &__socials {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        
        a {
            max-widtH: 25px;
            max-height: 25px;
            width: 100%;
            height: 100%;
            display: block;

            svg {
                transition: all 0.25s ease-in-out;
            }

            &:hover {
                svg path {
                    fill: var(--theme-color);
                }
            }
        }
    }
}