.footer {
    .standard-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 15px;
    }

    &__column {
        width: 100%;

        @media screen and (min-width: 860px) {
            widtH: 33.33%
        }

        ul {
            list-style: none;
            padding: 0;
            
            li {
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    h2 {
        color: #499dc1;
    }
}