body {
    padding: 0;
    margin: 0;
    font-family: "polymath-display", sans-serif;

    &.no-scroll {
        overflow: hidden;
    }
}

.large-container {
    max-width: 2030px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.standard-container {
    max-width: 1520px;
    // max-width: 1920px;
    margin: 0 auto;
}

.small-container {
    max-width: 1690px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.button {
    border-radius: 50px;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 20px;
    transition: all 0.25s ease-in-out;

    &--white {
        background: #ffffff;
        color: #000000;

        &:hover {
            background-color: color-mix(in srgb, #fff 100%, #000 20%);
        }
    }

    &--transparent {
        background: transparent;
        color: #000000;
        border: 2px solid #000;

        
        &:hover {
            cursor: pointer;
            background-color: color-mix(in srgb, transparent 100%, #000 20%);
        }
    }

    &--black {
        background: #000000;
        color: #ffffff;

        &:hover {
            background-color: color-mix(in srgb, #000 100%, #fff 20%);
        }
    }

    &--square {
        border-radius: 0;
        height: 40px;
        width:40px;
        padding: 0;
        font-size: 18px;
        border: 1px solid var(--theme-color);
        background: white;
        transition: all 0.25s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: color-mix(in srgb, #fff 100%, var(--theme-color) 10%);
        }
    }

    &:hover {
        cursor: pointer;
    }
}
.cta-banner {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    transition: all 0.25s ease-in-out;

    a {
        text-decoration: none;
        color: white;

        p {
            margin: 0;
            font-size: 24px;
        }
    }
}

.announcement-banner {
    background: var(--theme-color);
    padding: 15px 0;

    p {
        margin: 0 auto;
        text-align: center;
    }

    a {
        color: inherit;
    }
}

//Pagination

.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.pagination__list > li {
  flex: 1 0 4.4rem;
  max-width: 4.4rem;
}

.pagination__list > li:not(:last-child) {
  margin-right: 1rem;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--current::after {
  height: 0.1rem;
}

.pagination__item--current::after,
.pagination__item:hover::after {
  content: '';
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
