.header {

    @media screen and (min-width: 860px) {
        position: relative;
    }
    .standard-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 40px 15px 20px;
    }

    #nav-toggle {
        padding: 0 15px 20px;

        @media screen and (min-widtH: 860px) {
            display: none;
        }

        svg {
            height: 30px;
        }

        .icon-close {
            display: none;
        }

        &.open {
            .icon-hamburger {
                display: none;
            }
            .icon-close {
                display: block;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    nav {
        padding: 0 15px !important;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        > ul {
            li {
                margin-bottom: 30px;

                @media screen and (min-width: 860px) {
                    margin-bottom: 0;
                    padding-bottom: 30px;
                }

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 20px;

                    @media screen and (min-widtH: 860px) {
                        font-size: 16px;
                    }

                    &:hover {
                        @media screen and (min-width: 860px) {
                            color: var(--theme-color);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .main-nav {
        padding: 0 15px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;

            @media screen and (min-width: 860px) {
                justify-content: space-between;
                display: flex;
            }
        }

        button {
            background: none;
            border: 0;
            padding: 0;
            cursor: pointer;
            font: inherit;
            color: white;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            display: flex;
            font-size: 20px;

            @media screen and (min-width: 860px) {
                font-size: 16px;
            }

            &.menu-trigger {
                svg {
                    transform: rotate(-90deg);
                    // transition: all 0.25s ease-in-out;

                    @media screen and (min-width: 860px) {
                        transform: none;
                        height: 10px;
                    }
                }
            }
        }

        svg {
            max-height: 10px;
        }
    }

    .mobile-nav-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        height: calc(100% - 181px);
        padding-top: 30px;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 2000;
        overflow-y: auto;
        overflow-x: hidden;

        @media screen and (min-width: 860px) {
            position: relative;
            bottom: unset;
            left: unset;
            overflow: visible;
            transform: none;
        }

        .menu-panel {
            .menu-back {
                @media screen and (min-width: 860px) {
                    display: none;
                }
            }
        }
    }

    .mega-menu__content {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 30px;

        @media screen and (min-width: 860px) {
            position: absolute;
            left: 0;
            top: 99%;
            padding: 0px 15px;
            opacity: 0;
            pointer-events: none;
            transition: 0.2s ease;
            widtH: calc(100% - 30px);
        }

        .menu-trigger {

            @media screen and (min-width: 860px) {
                margin-bottom: 15px;
            }

            svg {
                @media screen and (min-width: 860px) {
                    display: none;
                }
            }
        }

        .menu-panel {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 30px;

            @media screen and (min-widtH:860px) {
                padding: 0;
                padding-bottom: 30px;
            }

            .menu-level {
                @media screen and (min-width: 860px) {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 0;
                }

                li {
                    @media screen and (min-width: 860px) {
                        align-items: flex-start;
                        padding-bottom: 0;
                        width: calc(50% - 15px);
                    }
                }

                img {
                    @media screen and (min-width: 860px) {
                        margin-right: 10px;
                    }
                }

                a {
                    @media screen and (min-width: 860px) {
                        width: calc(50% - 15px);
                            display: flex;
    flex-wrap: wrap;
    align-items: center;
                    }

                    &:hover {
                        @media screen and (min-width: 860px) {
                        svg path[fill="#FFFFFF"], svg g path[fill="#FFFFFF"], svg path[fill="#ffffff"], svg g path[fill="#FFFFFF"] {
                                fill: var(--theme-color);
                            }
                        }
                    }

                }

                .menu-level li {
                    @media screen and (min-width: 860px) {
                        align-items: center;
                        display: flex;
                        flex-wrap: wrap;
                    }

                    svg {
                        max-height: 32px;
                        max-widtH: 32px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    /* =========================
    DESKTOP MEGA MENU
    ========================= */
    @media screen and (min-width: 860px) {

        .mega-menu__top {
            display: flex;
            align-items: center;
            gap: 6px;
        }


        .menu-item {
            position: static;

            &:hover {
                .mega-menu__top {
                    @media screen and (min-width: 860px) {
                        text-decoration: underline;
                        color: var(--theme-color);
                    }

                    svg {
                        transform: rotateX(180deg);
                    }
                }

                .menu-trigger {
                    text-decoration: underline;

                    &:hover {
                        cursor: default;
                    }
                }
            }
        }

        .menu-item:hover .mega-menu__content, .mega-menu__content:hover {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }

        .header:hover .mega-menu__content {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }

        /* Second level (By type | By room) */
        .menu-level {
            display: flex;
            gap: 30px;
            padding-bottom: 15px;
        }

        /* Third level */
        .menu-panel {
            position: static;
        }

        .menu-panel > .menu-level {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6px;
            margin-top: 20px;
            border: 0;
        }

        .menu-back {
            display: none;
        }
    }

    /* =========================
    MOBILE DRILL DOWN
    ========================= */
    @media screen and (max-width: 860px) {

        /* LEVEL 2 PANEL (Blinds) */
        .main-nav .mega-menu__content {
            position: fixed;
            inset: 0;
            transform: translateX(100%);
            transition: transform 0.3s ease;
            z-index: 1000;
        }

        .main-nav .mega-menu__content.active {
            transform: translateX(0);
        }

        /* LEVEL 3 PANEL (By type / By room) */
        .main-nav .menu-panel {
            position: fixed;
            inset: 0;
            transform: translateX(100%);
            transition: transform 0.3s ease;
            z-index: 1100;
        }

        .main-nav .menu-panel.active {
            transform: translateX(0);
        }

        /* IMPORTANT: content layout */
        .main-nav .mega-menu__content > .menu-panel {
            position: static;
            transform: none;
            z-index: auto;
        }

        .menu-back {
            margin-bottom: 30px;

            font-size: 16px !important;
        }

        .menu-level {
            padding: 0 15px;
        }

        .menu-level li {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }
        }
    }




    /* Show menu */
    .mobile-nav-wrapper.active {
        transform: translateX(0);
    }

    &__logo {
        max-widtH: 175px;

        @media screen and (min-width: 860px) {
            max-width: 200px;
        }

        img {
            max-widtH: 100%;
        }
    }

    &__ctas {
        display: flex;
        flex-wrap: wrap;
        max-width: calc(100% - 175px);
        width: 100%;
        justify-content: right;
        align-items: center;

        @media screen and (min-width: 860px) {
            max-width: calc(100% - 200px);
        }

        &__phone {
            color: #FFFFFF;
            text-decoration: none;
            text-align: right;

            &:hover {
                
                p:last-of-type {
                color: var(--theme-color);

                }
            }

            @media screen and (min-width: 860px) {
                text-align: left;
            }

            p {
                margin: 0 0 5px 0;
                font-size: 13px;
            }

            p:last-of-type {
                font-size: 20px;
            transition: all 0.25s ease-in-out;


                @media screen and (max-width: 860px) {
                    font-size: 24px;
                }
            }
        }

        a.button {
            display: none;

            @media screen and (min-width: 860px) {
                display: block;
                margin-left: 15px;
            }
        }
    }
}