.intro-banner {
    padding: 36px 0;

    .standard-container {
      display: block;

      @media screen and (min-width: 860px) {
        display: flex;
              align-items: center;
      justify-content: space-between;
      align-items: stretch;
      }
    }

    &__images {
      width: 100%;
      position: relative;
      aspect-ratio: 1606 / 1000;
      overflow: hidden;
      flex-shrink: 0;

        @media screen and (min-width: 860px) {
          width: 50%;
          aspect-ratio: 719.5 / 598.97; /* width / height */
        }
    }

    &__image {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity 0.6s ease;

      &.is-active {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        max-height: 720px;
      }
    }

    &__content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      @media screen and (min-width: 860px) {
        width: 50%;
      }

      &__container {
          text-align: left;
          padding: 26px 13px;

          @media screen and (min-width: 860px) {
            text-align: center;
          }

          h1 {
              font-size: 52px;
              font-weight: 700;
              line-height: 1;
              margin: 0;

              @media screen and (min-width: 860px) {
                font-size: 72px;
              }
          }

          p {
              font-size: 24px;
              padding: 0px;

              @media screen and (min-width: 860px) {
                padding: 18px;
              }

          }
      }
    }

    &__buttons {
      a {
        display: block;
        text-align: center;
        margin-bottom: 15px;

          @media screen and (min-width: 860px) {
            margin-right: 15px;
            margin-bottom: 0;
            display: inline;
          }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &__dots {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);
    }

    &__dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: none;
      background: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      padding: 0;

      &.is-active {
        height: 14px;
        width: 14px;
        background: var(--theme-color);
        bordeR: 2px solid white;
      }
    }

}
