.navigation {

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}