.testimonial-slider {
    margin: 90px 0;

    .standard-container {
        display: flex;
        flex-wrap: wrap;
    }

    &__testimonials {
        padding: 20px 0;
        max-width: 100%;

        @media screen and (min-width: 860px) {
            max-width: 50%;
        }

        &__head {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 13.4px;

            p, a {
                font-size: 16px;

                    @media screen and (min-width: 860px) {
                        font-size: 17.6px;
                    }
            }

            a {
                margin-left: 10px;
                color: #000000;
            }
        }

        &__slider {
            overflow: hidden;
            position: relative;

            &:before {
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                background: #000000;
                margin-bottom: 30px;
            }

            h3 {
                font-size: 36px;
                margin: 0 0 15px;
                line-height: 46px;
                font-weight: 700;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                line-height: 32px;
                margin: 0 auto 15px;
            }

            p.author {
                text-align: right;
                font-size: 17.6px;
                font-weight: 700;
            }
        }
    }

    &__track {
        display: flex;
        transition: transform 0.25s ease-in-out;
    }

    &__slide {
        min-width: 100%;
    }

    &__extras {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        margin-top: 15px;
        align-items: center;

        &.multiple {
            justify-content: space-between;
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;
    }

    &__image {
        margin: -50px auto;
        display: none;

        @media screen and (min-width: 860px) {
            display: block;
            margin-right: 0;
        }

        @media screen and (min-width: 1238px) {
            margin-right: auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}