<style>
  .collection-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .collection-list__item {
    display: flex;
  }

  .collection-list__item a {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: black;
  }

  .collection-list img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: all 0.25s ease-in-out;
  }

  .collection-list__item .image {
    overflow: hidden;
    aspect-ratio: 1/1;
  }

  .collection-list__item a:hover img {
    transform: scale(1.1);
  }

  .collection-list a h3 {
    font-weight: normal;
    display: flex;
    justify-content: space-between;
  }
</style>

<section class="collection-grid" style="padding-bottom: 50px;">
  <div class="standard-container">
    <h1>Collections</h1>
    <div class="collection-grid__grid">
      {% for collection in collections %}
        {% if collection %}
          <a href="{{ collection.url }}" class="collection-grid__item">
            <div class="collection-grid__item__background">
              <img src="{{ collection.image | image_url }}" alt="{{ collection.title }}">
            </div>
            <div
              class="collection-grid__item__content"
              style="background-color: #000  ; color: #fff; "
            >
              <p>{{ collection.title }}</p>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
